body {
  background-color: rgb(255, 255, 255);
  font-size: 1em;
}

.clearfix { *zoom: 1; 
}

.container {
  float: left;
  margin-left:0px;
  margin-top:0px;
}

.image {
  display: block;
  margin-top:0px
  margin-left:0px;
  width: 800px;
  height: 496px;
  overflow: hidden;
}

.container-1 {
  width: 800px;
  height: 496px;
  margin-top:0px;
  margin-left:opx;
}
