@font-face {
  font-family: 'Flexo';
  src: url('fonts/flexo-regular-webfont.eot');
  src: url('fonts/flexo-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/flexo-regular-webfont.woff') format('woff'),
       url('fonts/flexo-regular-webfont.ttf') format('truetype'),
       url('fonts/flexo-regular-webfont.svg#flexoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font: 14px Flexo, Helvetica, Helvetica Neue, Arial;
  font-weight: 400;
  line-height: 1.38;
  color: #000;
}

/* ========================= */
/* = Initial Page Defaults = */
/* ========================= */

body {
  margin: 0 auto;   /* centers all content on the page */
  width: 810px;
}

figcaption {
  margin-top: 10px;
  text-align: center;
}

/* =================== */
/* = Section: Livros = */
/* =================== */

#livros {
  display: block;
  padding-top: 50px;
}

#livros .livro {
  float: left;
  height: 320px;
  margin: 0px;
  text-align: center;
  width: 200px;
}

/* ================ */
/* = Section: Bio = */
/* ================ */

#bio {
  display: none;
}

#bio article {
  margin-top: 15px;
}

#bio figure {
  float: left;
  margin-right: 60px;
  width: 210px;
}

#bio .text {
  float: right;
  width: 460px;
}
