# Base
https://github.com/h5bp/server-configs/tree/master/iis

# Rewrite to ignore .html
http://stackoverflow.com/questions/15012893/iis-url-rewrite-how-to-remove-directory-and-extension
http://stackoverflow.com/questions/4481632/remove-html-or-aspx-extension

# Redirect to no-www
http://blogs.msdn.com/b/carlosag/archive/2008/09/02/iis7urlrewriteseo.aspx